$background-color: #fff;
$border-color: #eaeaea;
$transition: color 0.15s ease, border-color 0.15s ease;
   
@mixin cardDefaults {
  margin: 1rem;
  padding: 1.7rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $background-color;
  justify-content: space-between;
  h2 {
    font-size: 1rem;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto !important;
  overflow: scroll;
  background-color: #f5f5f7;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 80px;
  font-size: 12px;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  a {
    color: #0070f3;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  text-align: center;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  @include cardDefaults();
  width: 450px;
  // grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(120px,1fr);
  .content {
    display: flex;
    align-items: center;
    padding: 20px 0px
  }
  a {
    padding: 10px 25px;
    font-size: 1rem;
    line-height: 1.5;
  }
  .column_order {
    margin-right: auto;
  }
}

.horizontal_container {
  @include cardDefaults();
  width: 70%;
  height: auto;
  .horizontal_list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  // column {

  // }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
