$background-color: #fff;
$border-color: #eaeaea;
$primary-color: #0070f3;
$transition: color 0.15s ease, border-color 0.15s ease;
   
@mixin cardDefaults {
  padding: 1.7rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: $background-color;
  justify-content: space-between;
  h2 {
    font-size: 0.8rem;
  }
}

.container {
  min-height: 100vh;
  height: auto !important;
  overflow: scroll;
  background-color: #f5f5f7;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  a {
    color: #0070f3;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  text-align: center;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  @include cardDefaults();
  margin-left: auto;
  margin-right: 50px;
  width: 360px;
  .grid {
    display: grid;
    grid-template-columns: 20px 40px auto 50px;
    grid-gap: 10px;
    padding-top: 27px;
    align-items: center;
  }
  .cover_art {
    width: 40px;
    height: 40px;
    border: 1px solid $border-color;
    background-color: $background-color;
  }
  .column_order {
    margin-left: 10px;
  }
  .lyrix {
    margin-left: auto;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
}  

.horizontal_container {
  @include cardDefaults();
  position: absolute;
  display: grid;
  gap: 40px;
  grid-auto-flow: column;
  left: 50px;
  bottom: 11vh;
  width: 65%;
  height: auto;
  overflow-x: scroll;
  .horizontal_list {
    display: grid;
    margin-top: 50px;
    gap: 5px;
    justify-items: center;
    align-items: center;
  }
  h3 {
    position: absolute;
    padding: 1.7rem;
  }
  p,
  h4 {
    font-size: .7rem;
  }
  .cover {
    width: 80px;
    height: 80px;
    border: 1px solid $border-color;
    background-color: $background-color;
  }
}

.footer {
  width: 100%;
  height: 10vh;
  bottom: 0;
  position: absolute;
  font-size: 12px;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
