// variables
$primary-color: #0070f3;
$background-color: rgb(231, 228, 228);

.box_container {
  border: 1px solid #eaeaea;
  background-color: white;
  border-radius: 40px;
  position: relative;
  margin: auto;
  width: 30%;
  height: 37px;
  cursor: pointer;
  &:hover,
  &:focus-within {
    color:$primary-color;
    border: 2px solid $primary-color;
    }
  .elements_container {
    width: 100%;
    display: flex;
    padding: 6px 2px 0px 15px;
  }
  .magnifierIcon {
    margin-right: 10px;
    color: grey;
  }
  .search {
    width: 100%;
    height: auto;
    border: none;
    margin-bottom: 5px;
    border-radius: 60px;
    font-family: inherit;
    cursor: pointer;
    &:focus {
      outline:none;
    }
  }
}

@media screen and (max-width: 768px) {
  .box_container {
    width: 60%;
    right: 60px;
  }
}