// variables
$primary-color: #0070f3;
$border-color: #eaeaea;
$background-color: rgb(231, 228, 228);

.search_container {
  border: 1px solid $border-color;
  background-color: white;
  border-radius: 40px;
  height: 37px;
  width: 40%;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  cursor: pointer;

  &:hover,
  &:focus-within {
    color:$primary-color;
    border: 2px solid $primary-color;
    }

  .elements_container {
    width: 100%;
    display: flex;
  }

  .magnifierIcon {
    margin: 5px 10px 0px 15px;
    color: grey;
  }

  .input_box {
    width: 100%;
    margin: 1px;
    height: auto;
    border: 0;
    border-radius: 60px;
    font-family: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

// Media screens
@media screen and (max-width: 768px) {
  .search_container {
    width: 40%;
    right: 60px;
    
    .input_box {
      &::placeholder {
        color: transparent;
      }
    }
  }
}